@import '../../assets/styles/setup';

.convert {
  margin: 5rem 0;

  &__title {
    margin-bottom: 1rem;
    font-weight: $fw-bold;
  }

  &__items {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;

    @include media-breakpoint-up(sm) {
      flex-direction: row;
    }
  }

  &__item {
    display: flex;
    width: 100%;

    @include media-breakpoint-up(sm) {
      width: auto;
    }
  }

  &__input {
    width: 100%;

    @include media-breakpoint-up(sm) {
      max-width: 12rem;
    }
  }

  &__select {
    margin-left: 0.5rem;
  }

  &__equalSymbol {
    font-size: $fs-xl;
    margin: 1rem 0;

    @include media-breakpoint-up(sm) {
      margin: 0 1rem;
    }
  }
}